{% extends "base.html" %}

{% block title %}pyechart demo 首页{% endblock %}


{% block body %}
    {{ super() }}
    <div class="container">
        <div class="text-center">
            <div><h1>利润组 增长页</h1></div>
            <div><label for="selectcode">股票:</label>
                <select class="js-example-basic-multiple
                                js-states
                                form-control
                                js-data-example-ajax"
                        id="selectcode"
                        multiple="multiple"
                        {#                        data-ajax--url="{{ url_for('helpers.readstocks') }}"#}
                ></select>
            </div>
            <div>
                <button class="btn btn-primary" id="loaddata">读取数据</button>
            </div>
            <div id="bar" style="width:900px; height:450px;"></div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        $(
            function () {
                let chart = echarts.init(document.getElementById('bar'),
                    'white', {renderer: 'canvas'})
                $.ajax({
                    type: 'GET',
                    url: 'http://127.0.0.1:5000/profits/barChart',
                    dataType: 'json',
                    data: {'ts_code': '000002.SZ'},
                    success: function (result) {
                        chart.setOption(result)
                    },
                })
            },
        )


        {#$('#selectcode').select2({#}
            {#data: data,#}
            {#maximumSelectionLength: 2,#}
            {#ajax: {#}
            {#    type: 'GET',#}
            {#    url: 'http://127.0.0.1:5000/helpers/stocks',#}
            {#    dataType: 'json',#}
            {#    processResults: function (data) {#}
            {#        // Transforms the top-level key of the response object from 'items' to 'results'#}
            {#        console.log(data)#}
            {#        return {#}
            {#            results: data,#}
            {#        }#}
            {#    },#}
            {# },#}
        {# })#}

        $.ajax({
            type: 'GET',
            url: 'http://127.0.0.1:5000/helpers/stocks',
            dataType: 'json',
            success: function(data){
                $('#selectcode').select2({
                    data:data,
                    maximumSelectionLength: 2,
                })
            }
        })

        $('#loaddata').click(function(){
            selected = $('#selectcode').val()
            console.log(selected)
            let chart = echarts.init(document.getElementById('bar'),
                'white', {renderer: 'canvas'})
            $.ajax({
                type: 'GET',
                url: 'http://127.0.0.1:5000/profits/barChart',
                dataType: 'json',
                contentType: 'application/json; charset=UTF-8',
                data: {ts_codes: JSON.stringify(selected)},
                success: function (result) {
                    console.log(result)
                    chart.setOption(result)
                },
            })
        })



    </script>
{% endblock %}
