{% extends "../base.html" %}

{% block title %}pyechart demo{% endblock %}


{% block body %}
    <div class="container">
        {{ super() }}
        <h1>pyeCharts Demo</h1>
        <div id="bar" style="width:900px; height:450px;"></div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('bar'),
                    'white', {renderer: 'canvas'})
                $.ajax({
                    type: 'GET',
                    url: 'http://127.0.0.1:5000/barChart',
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result)
                    },
                })
            },
        )
    </script>
{% endblock %}
